### List
Lists are mutable ‚Äî meaning they can be changed after creation.

In [29]:
## List 
## A list is an ordered, changeable collection of items.
my_list =[10, 20, 30, 40]

In [30]:
fruits = ["mango", "apple","banana","charry"]
print(fruits)

['mango', 'apple', 'banana', 'charry']

In [31]:
# list indexing
print(fruits[0])
print(fruits[-1])

mango
charry

In [32]:
## List operations
numbers = [1, 2, 3, 4]
numbers.append(5)        # Add at end
numbers.insert(2, 9)     # Insert at position
numbers.remove(3)        # Remove value
numbers.sort()           # Sort ascending
numbers.reverse()        # Reverse order
print(numbers)

[9, 5, 4, 2, 1]

In [33]:
# Mini Project 1: Student Marks Average
marks = []
for i in range(5):
    m = int(input(f"Enter marks of student {i+1}: "))
    marks.append(m)

average = sum(marks)/len(marks)
print("Average marks =", average)

Average marks = 1193.2

###  Tuples
Definition:
A tuple is just like a list but immutable (cannot be changed).

In [34]:
# syntax
my_tuple = (10, 20, 30)

In [35]:
coordinates = (3,5)
print(coordinates[0])

3

In [36]:
coordinates[0] = 10  # ‚ùå Error 
# Use tuples when data should not change ‚Äî e.g., model hyperparameters, constants, etc.

TypeError: 'tuple' object does not support item assignment

In [ ]:
##  Mini Project 2: Student Record (Immutable)
student = ("Priyanshu", "AI/ML", 5)
print("Name:", student[0])
print("Branch:", student[1])
print("Semester:", student[2])

Name: Priyanshu
Branch: AI/ML
Semester: 5

### Sets

üß† Definition:
A set is an unordered and unique collection (no duplicates).

In [ ]:
# Syntax:
my_set = {1,2,3,3,2}
print(my_set)

{1, 2, 3}

In [ ]:
## Set operations  # Sets are used in ML for removing duplicates and handling unique values.
A = {1, 2, 3, 4}
B = {3, 4, 5 ,6}
print(A.union(B))
print(A.intersection(B))
print(A.difference(B))

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

In [ ]:
## Mini Project 3: Unique Voters Filter
voters = ['Ram','Priya','Ram','Sita','Priya']
unique_voters = set(voters)
print("Unique voter: ", unique_voters)
print("Total unique voter:", len(unique_voters))

Unique voter:  {'Ram', 'Priya', 'Sita'}
Total unique voter: 3

In [ ]:
## Write a program to merge two lists and remove duplicates using a set.
list1 = [1,2,3,1,2,5]
list2 = [5,6,4,2,3,1]
merged= list(set(list1 + list2))
print(merged)

[1, 2, 3, 4, 5, 6]

### HomeWork
1. Create a list of your 10 favorite movies and sort them alphabetically.
2. Take 5 numbers from the user and store them in a tuple. Print the smallest and largest.
3. Write a program that counts how many unique characters are in a string.
4. Use two sets A and B, and print:
	‚Ä¢	Common items
	‚Ä¢	Items only in A
	‚Ä¢	Items only in B

In [ ]:
## Create a list of your 10 favorite movies and sort them alphabetically.
movies = ['Iron Man','Interstaller','Thor','Captain America','Gravity','Mirzapur','War','Bahubali','The Martin','Life']
movies.sort()
print(movies)

['Bahubali', 'Captain America', 'Gravity', 'Interstaller', 'Iron Man', 'Life', 'Mirzapur', 'The Martin', 'Thor', 'War']

In [51]:
# Take 5 numbers from the user and store them in a tuple. Print the smallest and largest.
numbers_tuple = tuple(int(input(f"Enter 5 number: {i + 1}")) for i in range(5))
print(f"Your enter number {numbers_tuple}")

if numbers_tuple:
    largest_number = max(numbers_tuple)
    smallest_number = min(numbers_tuple)
    print(f"The largest number of your enter number are: {largest_number}")
    print(f"The smallest number of your enter number are: {smallest_number}")
else:
    print("No any number enter")

Your enter number (45, 15, 65, 95, 45)
The largest number of your enter number are: 95
The smallest number of your enter number are: 15

In [ ]:
## Use two sets A and B, and print:
#	‚Ä¢	Common items
#	‚Ä¢	Items only in A
#	‚Ä¢	Items only in B
set1 = {8,4,6,6,1,3}
set2 = {5,4,1,6,3,7}
print(set1.intersection(set2))# ‚Ä¢	Common items
print(set1.difference(set2)) # 	‚Ä¢	Items only in A
print(set2.difference(set1)) # 	‚Ä¢	Items only in B

{1, 3, 4, 6}
{8}
{5, 7}

In [62]:
## Write a program that counts how many unique characters are in a string
input_strings = input("Enter your string")

unique_string = set(input_strings)
count_string = len(unique_string)

print(f"The unique string are: {unique_string}")
print(f"The total unique string are: { count_string}")

The unique string are: {'r', 'u', 'a', 'p', ' ', 'y', 'd', 'n', 'v', 's', 'i', 'h'}
The total unique string are: 12